/* Variables de colores */
:root {
  --color-bg-main: #121212;             /* Fondo General: muy oscuro, estilo dashboard moderno */
  --color-bg-secondary: #1E1E1E;        /* Fondo secundario/paneles: gris oscuro */
  --color-primary: #3DA9FC;             /* Azul eléctrico suave: botones principales / links */
  --color-primary00: #2979FF;           /* Azul profundo: hover botones primarios */
  --color-success: #00C896;             /* Verde esmeralda: éxito */
  --color-success2:rgb(8, 244, 185);             /* Verde esmeralda: éxito */
  --color-danger: #FF5C58;              /* Rojo coral: error */
  --color-warning: #FFD369;             /* Amarillo suave: advertencia */
  --color-featured: #F78C6B;            /* Naranja salmón: destacado/promociones */
  --color-text-secondary: #999DA5;      /* Texto gris claro: texto secundario */
  --color-text-secondary00: #CCC;       /* Más claro para bordes/textos secundarios */
  --color-text-secondary0: #F5F5F5;     /* Blanco suave: texto principal */
  --color-text-secondary01: #222;       /* Texto oscuro en zonas claras, si usás alguna */
  --color-card-bg: #1A1D2D;             /* Fondo de tarjetas: gris oscuro azulado */
  --color-base2: #e7e2e2;
}


/* Estilos Globales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-secondary);
}

/* Ejemplo de uso de las variables */
.container {
  background-color: var(--color-bg-secondary);
  padding: 1rem;
  border-radius: 8px;
}

.button-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: #3B6F87; /* Un tono más oscuro del azul */
}

.card {
  background-color: var(--color-card-bg);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-success {
  background-color: var(--color-success);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

.alert-danger {
  background-color: var(--color-danger);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;

}

/* :root {
  --color-base: #e3dede;
  --color-base2: #f4f4f4;
  --color-base3: rgb(173, 90, 12);
  --color-primary: #007bff;
  --color-accent: #ff6347;
  --p-color:#555;
  --warnin:#ffcc00;
  --delete:#ff4d4d;
  --acept:#4caf50;
} */


 
