.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-text-secondary00);
    padding-bottom: 0.5rem;
    color: var(--color-text-secondary);
}

.title h1 {
    font-size: 2rem;
    color: var(--color-text-secondary)
}




.headerDetail {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card {
    background-color: var(--color-card-bg);
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    flex: 1;
    min-width: 280px;
}

.subtitle {
    color: var(--color-text-secondary00);
    margin-bottom: 1rem;
}

.cardDown {
    background-color: var(--color-card-bg);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.productTable {
    width: 100%;
    border-collapse: collapse;
}

.productTable th,
.productTable td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--color-text-secondary00);
    text-align: left;
}

.updateOrders {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.cancelOrders,
.deleteOrders,
.exportPDF,
.updateButton {
    background-color: var(--color-primary);
  color: var(--color-text-secondary00);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none;
}

.cancelOrders {
    background-color: var(--color-warning);
    color: var(--color-text-secondary01);
    font-weight: bold;
   

}
.cancelOrders:hover {
    background-color: var(--color-secondary01);
    color: var(--color-text-secondary00);
    font-weight: bold;
}

.deleteOrders {
    background-color: var(--color-danger);
}
.deleteOrders:hover {
    background-color: var(--color-secondary01);
}

.exportPDF {
    background-color: var(--color-success);
}
.exportPDF:hover {
    background-color: var(--color-secondary01);
}

.updateButton:hover {
     background-color: var(--color-secondary01);
    color: var(--color-text-secondary00);
    font-weight: bold;
    text-decoration: none;
}

.debtWarning {
    color: var(--color-danger);
    font-weight: bold;
}

.blockItems{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 768px) {
  
   .productsContainer{   
    overflow-x:auto;    
   }
   .updateButton{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .blockItems{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
    
}