
 .container {
  /* background-color: #f8f9fb; */
  min-height: 80vh;
  /* padding: 20px; */
}

.reportContainer {
  max-width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  /* margin-top: 50px; */
  
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #2c3e50;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #34495e;
}

input[type='date'] {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
  font-size: 0.95rem;
}

.btn {
  background: #2196f3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  margin-top: 25px;
}

.btn:hover {
  background: #1976d2;
  transform: scale(1.05);
}

.loading {
  text-align: center;
  color: #555;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #f1f3f6;
  color: #333;
}

.complete {
  color: #27ae60;
  font-weight: 600;
}

.pending {
  color: #e67e22;
  font-weight: 600;
}

.result h2 {
  text-align: center;
  color: #555;
}

.orderDetails{
  text-decoration: none;
}