.orderUpdate {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    color: var(--color-text-secondary00);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.updateContainer {
    width: 100%;
    max-width: 600px;
    background-color: var(--color-bg-secondary);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.debtMessage{
    background-color: var(--color-danger);
    color: var(--color-text-secondary0);

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: larger;
    font-weight: bold;
    
}
.cleanDebt{
    background-color: var(--color-success);
    color: var(--color-text-secondary0);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: larger;
    font-weight: bold;
    
}

.backToOrder{
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.backToOrder:hover{
    background-color: #3B6F87;
}

.updateContainer h1 {
    color: var(--color-primary);
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 10px;
}

.updateContainer form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.updateContainer label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-text-secondary);
}

.updateContainer input,
.updateContainer select,
.updateContainer textarea {
    background-color: var(--color-card-bg);
    color: var(--color-text-secondary00);
    border: 1px solid var(--color-text-secondary);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
}

.updateContainer textarea {
    resize: vertical;
    min-height: 80px;
}

.updateContainer p {
    color: var(--color-danger);
    font-size: 13px;
    margin-top: -10px;
}

.pepeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.updateContainer button {
    background-color: var(--color-primary);
    color: white;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.updateContainer button:hover {
    background-color: var(--color-primary00);
}
